.wrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 240px;
  font-size: 18px;

  h1 {
    border-bottom: 1px solid rgba(0, 0, 0, 0.3);
  }

  span {
    font-weight: bold;
  }
}

.btn_group {
  display: flex;
  justify-content: space-between;

  button {
    width: 150px;
  }
}